.button {
    width: 560px;
    height: 184px;
    margin-bottom: 64px;
    border-radius: 16px;
    font-size: 80px;
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.39);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-color: rgba(0, 0, 0, 0.2);
    -unity-font-definition: url("project://database/Assets/_Projects/Fonts/Mamelon-3.5-Hi-Regular.otf?fileID=12800000&guid=703d191922f74cc47ae5ea0b683c5c3d&type=3#Mamelon-3.5-Hi-Regular");
}

.button:enabled:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0.5);
}

.button:enabled:active {
    scale: 0.97;
}